<p>
    <% if todo_item.completed_at? %>
        <strong>Content:</strong>
        <%= todo_item.content %>
        Completed.
    <% else %>
        <strong>Content:</strong>
        <%= todo_item.content %>
        <%= link_to 'Mark as Complete', complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch %>
    <% end %>

    <strong>Due at:</strong>
    <%= todo_item.due_at %>

    <strong>Priority:</strong>
    <%= todo_item.priority %>
</p>

<p>
<%= link_to 'Delete item', [todo_item.todo_list, todo_item],
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %>
</p>